header{
	background-color: white;
	height: 70px;
	width: 100%
	border-bottom: 1px #CCCCCC;
}

.logo { 
     background: url("images/logo.png") no-repeat; 
     width: 100px; 
     height: 100px; 
     display: block; 
     text-indent: -9999px;
}
