body{
	margin: 0px;
	padding: 0px;
	color: #484848;
	font: 14px Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	box-sizing: border-box;
}

.container{
	max-width: 1000px;
	width: auto;
	margin: 30px auto;
}
