.places{
    font-size: 30px;
    justify-content: center;

}

.places article{
    display: flex;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    justify-content: center;
}

.places article h2{
    font-size: 30px;
}